@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Thin.ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Bold.ttf');
  font-style: normal;
  font-weight: 600;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.appContainer {
  max-width: 1200px;
  margin: auto;
}

.appButton {
  background: #b3a26c;
  display: inline-block;
  padding: 4px;
  transition: .3s;
  cursor: pointer;
  button {
    border: 1px solid #fff;
    background: transparent;
    padding: 4px 16px;
    color: #fff;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  &:hover {
    background: #222;
  }
}

.appLayout {
  background: #fff;
  min-height: 100vh;
  .appLayoutHeader {
    height: 100px;
    line-height: 100px;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    position: absolute;
    width: 100%;
    color: #fff;
    &.dark {
      color: #000;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      .appLogo {
        color: #000;
      }
    }
  }
  .appLayoutContent {
    display: block;
  }
  .appLayoutFooter {
    background: #000;
    color: #fff;
  }
}

.appHeader {
  max-width: 1200px;
  margin: auto;
  .appLogo {
    position: relative;
    float: left;
    height: 100px;
    line-height: 100px;
    color: #fff;
    cursor: pointer;
    .fit {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 300;
    }
    .you {
      font-size: 20px;
      font-weight: 200;
      position: relative;
      top: 5px;
    }
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.welcomeSlide {
  min-height: 850px;
  background-image: url('../assets/images/homepage.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  .welcomeSlideText {
    padding: 320px 50px 0 50px;
    color: #fff;
    .dashText {
      position: relative;
      padding-left: 30px;
      font-weight: 500;
      font-size: 17px;
      text-transform: uppercase;
      &:before {
        content: '';
        display: block;
        background: #fff;
        position: absolute;
        left: 4px;
        top: 11px;
        width: 18px;
        height: 2px;
      }
    }
    .title {
      font-size: 50px;
      font-weight: 200;
    }
    .subText {
      font-size: 17px;
      font-weight: 300;
    }
  }
}

.joinUs {
  padding: 100px 0;
  .joinWrap {
    text-align: center;
    .joinTexts {
      color: #111;
      display: inline-block;
      vertical-align: top;
      position: relative;
      left: 50px;
      text-align: left;
      border: 5px solid #000;
      padding: 50px 90px 50px 50px;
      width: 550px;
      height: 450px;
      .joinTitle {
        font-size: 40px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .joinText {
        font-size: 20px;
        font-weight: 300;
      }
      .joinButton {
        margin-top: 50px;
        text-align: center;
      }
    }
    .joinImage {
      display: inline-block;
      vertical-align: top;
      position: relative;
      left: -20px;
      top: 50px;
      img {
        width: 563px;
        height: 521px;
      }
    }
  }
}

.clubListHeader {
  height: 600px;
  background-image: url('../assets/images/clublist.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 270px;
  font-size: 40px;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
}

.appClubList {
  padding: 100px 0;
  .clubRow {
    padding: 50px;
    border-bottom: 1px solid #000;
    &:last-child {
      border: none;
    }
    .clubTitle {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .clubAddress {
      font-size: 18px;
      font-weight: 300;
    }
    .clubDescription {
      font-weight: 300;
    }
    .clubLink {
      text-align: center;
      padding-top: 30px;
    }
  }
}

.clubDetailHeader {
  height: 600px;
  background-image: url('../assets/images/club.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 270px;
  font-size: 40px;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
}

.clubDetail {
  padding: 50px 0;
  .clubName {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -50px;
      display: block;
      width: 100px;
      height: 2px;
      background: #000;
    }
  }
  .clubAddress {
    text-align: center;
  }
  // .clubDescription {}
  .rowTitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .rowValue {
    font-weight: 300;
    font-size: 16px;
  }
}

.clubOffers {
  text-align: center;
  padding: 50px 0;
  .clubOffersTitle {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -30px;
      display: block;
      width: 60px;
      height: 2px;
      background: #000;
    }
  }
  .clubOffer {
    display: inline-block;
    width: 350px;
    margin: 0 10px;
    padding: 20px;
    vertical-align: top;
    border: 1px solid #000;
    .offerTitle {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .offerDescription {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
      height: 180px;
    }
    .offerClasses {
      margin-bottom: 20px;
      .offerClassesTitle {
        font-weight: 300;
      }
      .offerClassesValue {
        font-weight: 500;
        font-size: 16px;
      }
    }
    .offerPrice {
      margin-bottom: 20px;
      .offerPriceTitle {
        font-weight: 300;
      }
      .offerPriceValue {
        font-size: 25px;
        font-weight: 500;
      }
    }
    .offerBuy {

    }
  }
}
  
.appFooter {
  text-align: center;
  .footerTitle {
    font-size: 16px;
    line-height: 1;
  }
  .footerText {
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 5px;
  }
  .contactTitle {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 300;
  }
  .contactRow {
    font-weight: 300;
    line-height: 24px;
    padding: 3px 0;
    color: rgba(255,255,255,0.8);
    i {
      position: relative;
      top: 2px;
      color: #b3a26c;
      font-size: 20px;
    }
  }
}